.sampleDialog {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    align-items: flex-start;
    padding-bottom: 200px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.sampleDialog > h1 {
    font-size: 64px;
    color: #2563eb;
    font-weight: 600;
    margin-top: 70px;
}

.sampleDialog > h2 {
    font-size: 32px;
    color: #1e293b;
    align-self: stretch;
    padding-top: 90px;
}