.sampleDialog {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    align-items: flex-start;
    padding-bottom: 200px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.sampleDialog > h1 {
    font-size: 64px;
    color: #1e293b;
    align-self: stretch;
}

.sampleDialog > h2 {
    font-size: 32px;
    color: #1e293b;
    border-top: 1px solid #e2e8f0;
    align-self: stretch;
    padding-top: 20px;
}