.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e2e8f0;

  gap: 8px;
  padding: 10px 20px;
  border-radius: 4px;

  font-size: 18px;
  font-weight: 500;
  color: #1e293b;

  cursor: pointer;
}

.button:hover {
  background-color: #cbd5e1;
  color: #1e293b;
}

.button:focus-visible {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
